@{
    ViewBag.Title = "Login";
}

<div class="text-center" style="margin-top:60px">
        <h1 class="text-info">Facebook Photo Downloader</h1>
        <h3>Descargar tus fotos favoritas nunca fue tan fácil.</h3>

        <p>Presiona el botón para comenzar:</p>
        <div class="fb-login-button" onlogin="logeoExitoso()" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
        
</div>



<script src="~/Scripts/fb-externo.js"></script>

